.cc-window .cc-message{
  font-size: 95%;
  line-height: 1.3;
}
@media only screen and (max-width : 365px) {
  .cc-window .cc-message{
    font-size: 75%;
  }
}
@media only screen and (max-width : 600px) {
  .cc-window .cc-message{
    font-size: 85%;
  }
}