@import "common";
aside.taxonomies {
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  font-size: 0.9em;
  line-height: 1.5em;

  display: flex !important;
  flex-flow: row wrap;
  align-items: flex-start;
  aside {
    flex-grow: 1;
    flex-basis: 0;
    padding: 5px;
    p {
      margin-bottom: 20px;
      font-size: 1.3em;
    }
    ul {
      margin: 0 0 0 0;
      list-style: none;
      padding: 0;
      a {
        text-decoration: none;
        color: $link-blue;
        &:hover{
          color: $link-blue-hover;
        }
      }
    }
    &.recent-posts {
      flex-grow: 2;
      text-indent:-10px;
      margin-left:10px;
      a {
        display: block;
      }
    }
    .taxonomies-links {
      text-transform: capitalize;
    }
  }
}
nav#seriesToc {
  $padding-left: 15px;
  font-size: 90%;
  margin: 20px 10px 20px 10px;
  border: 1px solid $border-gray;
  border-radius: 20px;
  line-height: 14px;

  padding: 15px 0 15px 0px;
  p {
    padding-left: $padding-left;
    margin: 0 0 10px 0;
    &.seriesName{
      font-size: 120%;
      margin: 0 0 20px 0;
    }
    a {
      color: $link-blue;
      text-decoration: none;
      &:hover {
        color: $link-blue-hover;
      }
    }
  }
  ol {
    padding: 0 0 0 0px;
    margin: 5px 0 0 0;
    line-height: 14px;
    li {
      padding: 7px 10px 7px 5px;
      margin: 0px 0px 0px 32px;
      &:hover {
        background-color: $border-gray;
      }
      a {
        display: block;
        &.current {
          font-style: italic;
        }
        color: $link-blue;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        &:hover {
          color: $link-blue-hover;
        }
      }
    }
  }
}