{{if .Site.Params.authoravatar}}
<figure class="author-image">
  <a class="img" href="{{.Site.BaseURL}}/" style="background-image: url({{.Site.Params.authoravatar | relURL }})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
</figure>
{{end}}

{{ if not .Params.noauthor }}
{{$author := index .Site.Data.authors (or .Params.author .Site.Params.author)}}
{{$authorname := or $author.name .Site.Params.author }}
{{$authorbio := or $author.bio .Site.Params.bio }}
{{$authorlocation := or $author.location .Site.Params.authorlocation }}
{{$authorwebsite := or $author.website .Site.Params.authorwebsite }}
<section class="author">
  <p class="author-name">{{$authorname}}</p>
  {{if $authorbio}}
  <p>{{$authorbio}}</p>
  {{else}}
  <p>Read <a href="{{.Site.BaseURL}}/">more posts</a> by this author.</p>
  {{end}}
</section>
{{end}}
