{{ if .Site.Params.commentSidecarBaseUrl }}
<aside id="comment-sidecar"></aside>
<script type="text/javascript">
  (function() {
      const scriptNode = document.createElement('script');
      scriptNode.type = 'text/javascript';
      scriptNode.async = true;
      scriptNode.src = '{{ .Site.Params.commentSidecarBaseUrl }}comment-sidecar-js-delivery.php';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(scriptNode);
  })();
</script>
{{ end }}
