<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#e8eaeb",
                    "text": "#4a4a4a"
                },
                "button": {
                    "background": "#4a4a4a",
                    "text": "#ffffff"
                }
            },
            "theme": "classic",
            "content": {
                "message": "Beim Besuch dieser Webseite werden Informationen gespeichert. Dies erfolgt zu statistischen sowie werbe- und profilingtechnischen Zwecken. Dies ermöglicht uns zu verstehen, was unsere Besucher erwarten und wie wir diese Seite verbessern können.",
                "dismiss": "OK",
                "link": "Datenschutzerklärung",
                "href": "/page/impressum-datenschutz/"
            }
        })});
</script>