{{ $baseurl := .Site.BaseURL }}
<article class="post {{ .Section }} article-excerpt">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ if not .Date.IsZero }}
        <time class="post-date-excerpt" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        {{ .Date.Format "2 Jan 2006" }}
        </time>
        {{end}}
    </header>
    <section class="post-excerpt">
        {{ $title := .Title -}}
        {{ $permaLink := .Permalink -}}
        {{ with .Params.featuredImage }}
        <a href="{{ $permaLink }}">
            <img src="{{ . | absURL }}" class="featuredImage" alt="{{ $title }}">
        </a>
        {{ end }}
        {{ .Summary }}
    </section>
    <footer class="post-meta">

    </footer>
</article>
