{{ $currentSeries := .Params.serien }}
{{ if $currentSeries }}
<nav id="seriesToc">
    {{ $currentURL := .Permalink }}
    {{ range $key, $taxonomy := .Site.Taxonomies.serien }}
        {{ $currentSeriesUrlized := $currentSeries | urlize }}
        {{ $currentSeriesUrlizedUmlauts := replace $currentSeriesUrlized "%C3%BC" "ü" }}
        {{ if eq $key $currentSeriesUrlizedUmlauts}}
            <p class="seriesName">
                Serie <a href="/serien/{{ $key }}/">{{ $currentSeries }}</a>:
            </p>
            <ol>
            {{ range sort $taxonomy.Pages "Date" }}
                <li>
                    <a href="{{ .RelPermalink }}" class="{{ if eq .Permalink $currentURL }}current{{ end }}"> {{ .LinkTitle }} </a>
                </li>
            {{ end }}
            </ol>
        {{ end }}
    {{ end }}
</nav>
{{ end }}
