<aside class="taxonomies">
    <aside >
        <p>Kategorien</p>
        <ul>
            {{ range first 12 .Site.Taxonomies.kategorien.ByCount -}}
            <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </aside>
    <aside>
        <p>Reiseziele</p>
        <ul>
            {{ range .Site.Taxonomies.reiseziele.ByCount -}}
            <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </aside>
        <aside>
        <p>Serien</p>
        <ul>
            {{ range .Site.Taxonomies.serien.ByCount -}}
            <li><a href="{{ .Page.RelPermalink }}" >{{ .Page.Title }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </aside>
</aside>