<aside class="taxonomies">
    <aside class="recent-posts">
        <p>Aktuelle Beiträge</p>
        <ul>
            {{ range first 6 (where .Site.Pages "Section" "post") -}}
            <li>{{ .Render "link" }}</li>
            {{ end }}
        </ul>
    </aside>
    <aside >
        <p>Kategorien</p>
        <ul>
            {{ range first 12 .Site.Taxonomies.kategorien.ByCount -}}
            <li><a href="/kategorien/{{ .Name | urlize }}/">{{ .Name | humanize }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </aside>
    <aside>
        <p>Reiseziele</p>
        <ul>
            {{ range .Site.Taxonomies.reiseziele.ByCount -}}
            <li><a href="/reiseziele/{{ .Name | urlize }}/">{{ .Name | humanize }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </aside>
</aside>